@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-green: #D6EFD8;
    --secondary-green: #80AF81;
    --terciary-green: #508D4E;
    --dark-green: #1A5319;
    --blanco: #FFF;
    --main-font: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 400;
}

body{
    background-color: var(--primary-green);
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.main__primary__container{
    width: 70%;
    height: 70vh;
    padding: 1.5rem;
}
textarea.main_textarea{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    margin-top: 1rem;
    font-size: 18px;
}
textarea.main_textarea:focus-visible{
    border: none;
    outline: none;


}
.main__primary__container__disclaimer{
    display: flex;
    gap: 7px;
    margin-bottom: 1.5rem;
}
.main__primary__container__buttons{
    display: flex;
    justify-content: space-between;

}

.primary__button, .secondary__button , .terciary__button{
    padding: 1rem 3.5rem;
    border-radius: 15px;
    border: none;
    transition: 0.3s all ease-in-out;

}

.primary__button{
    background-color: var(--terciary-green);
}

.primary__button:hover{
    background-color: var(--dark-green);
    color: var(--blanco);
    cursor: pointer;
}

.secondary__button{
    background-color: var(--secondary-green);
}
.secondary__button:hover{
    background-color: var(--terciary-green);
    color: var(--blanco);
    cursor: pointer;
}

.terciary__button:hover{
    background-color: var(--secondary-green);
    cursor: pointer;
    color: var(--blanco);
}


.main__secondary__container{
    width: 25%;
    height: 90vh;
    text-align: center;
    background-color: var(--blanco);
    border-radius: 15px;
    box-shadow: 3px 3px 15px lightgray;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    position: relative;

}

.main__secondary__container h5{
    font-weight: 700;
}
#btn-copiar{
    position: absolute;
    bottom: 1.5rem;
    width: 80%;
}

.footer{
    padding: 1.5rem;
    text-align: center;
    background-color: var(--terciary-green);
    color: var(--blanco);
}

.footer__linkdin{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.footer__linkdin i{
    color: var(--blanco);
}
@media (max-width: 480px) {
    .main{
        flex-direction: column;
    }
    .main__primary__container,.main__secondary__container{
        width: 100%;
        height: 100%;
    }

    textarea.main_textarea{
        height: 50vh;
    }

    .main__primary__container__buttons{
        flex-direction: column;
        gap: 1.5rem;
    }

    .main__primary__container__disclaimer{
        justify-content: center;
    }

    #img-persona{
        display: none;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .main{
        flex-direction: column;
    }

    .main__primary__container,.main__secondary__container{
        width: 100%;
        height: 100%;
    }

    textarea.main_textarea{
        height: 50vh;
    }


    #img-persona{
        display: none;
    }



}


